<% include header.ejs %>
    <% function formatDate(dateString) { const date=new Date(dateString); const
        day=date.getDate().toString().padStart(2, '0' ); const month=(date.getMonth() + 1).toString().padStart(2, '0' );
        const year=date.getFullYear().toString().slice(2); return `${day}/${month}/${year}`; } %>

        <div class="card-mytrade-container">
            <h3 class="card-mytrade-title">Trades em andamento</h3>
            <% trades.forEach(trade=> { %>
                <div class="card-mytrade-card">
                    <div class="card-mytrade-card-content">
                        <p><strong>Solicitado por:</strong>
                            <%= trade.sender.id===req.session.userId ? 'Você' : trade.sender.name %>
                        </p>
                        <p><strong>Para:</strong>
                            <%= trade.receiver.name %>
                        </p>
                        <p><strong>Livro oferecido:</strong> <a href="/books/<%= trade.booksender_id %>"
                                class="card-mytrade-link">
                                <%= trade.booksender.name %>
                            </a></p>
                        <p><strong>Livro requisitado:</strong> <a href="/books/<%= trade.bookreceiver_id %>"
                                class="card-mytrade-link">
                                <%= trade.bookreceiver.name %>
                            </a></p>
                        <p><strong>Código da Trade:</strong>
                            <%= trade.id %>
                        </p>
                        <p><strong>Status:</strong>
                            <%= trade.trade.status %>
                        </p>
                        <p><strong>Data de criação da trade:</strong>
                            <%= formatDate(trade.createdAt) %>
                        </p>

                        <!-- Botões para concluir ou cancelar -->
                        <div class="card-mytrade-actions">
                            <button class="card-mytrade-btn-confirm"
                                onclick="openModal('modal-accept-<%= trade.id %>')">Concluir Trade</button>
                            <button class="card-mytrade-btn-cancel"
                                onclick="openModal('modal-delete-<%= trade.id %>')">Cancelar Trade</button>
                        </div>
                    </div>
                    <div class="card-mytrade-images">
                        <img src="/<%= trade.booksender.image %>" alt="Imagem de <%= trade.booksender.name %>"
                            class="card-mytrade-image" />
                        <img src="/<%= trade.bookreceiver.image %>" alt="Imagem de <%= trade.bookreceiver.name %>"
                            class="card-mytrade-image" />
                    </div>
                </div>

                <!-- Modal de concluir - específico para cada trade -->
                <div class="card-mytrade-modal" id="modal-accept-<%= trade.id %>" style="display: none;">
                    <div class="card-mytrade-modal-content">
                        <span class="card-mytrade-close-modal">&times;</span>
                        <h2 style="color:white;">Concluir a troca?</h2>
                        <div class="card-mytrade-modal-buttons">
                            <form action="/trades/<%= trade.id %>/confirm" method="POST">
                                <button type="submit" class="card-mytrade-btn-confirm">Sim</button>
                            </form>
                            <button class="card-mytrade-btn-cancel"
                                onclick="closeModal('modal-accept-<%= trade.id %>')">Não</button>
                        </div>
                    </div>
                </div>

                <!-- Modal de cancelar - específico para cada trade -->
                <div class="card-mytrade-modal" id="modal-delete-<%= trade.id %>" style="display: none;">
                    <div class="card-mytrade-modal-content">
                        <span class="card-mytrade-close-modal">&times;</span>
                        <h2 style="color:white;">Cancelar a troca?</h2>
                        <div class="card-mytrade-modal-buttons">
                            <form action="/trades/<%= trade.id %>/cancel" method="POST">
                                <button type="submit" class="card-mytrade-btn-confirm">Sim</button>
                            </form>
                            <button class="card-mytrade-btn-cancel"
                                onclick="closeModal('modal-delete-<%= trade.id %>')">Não</button>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>

        <% include footer.ejs %>

            <script>
                const openModal = (modalId) => {
                    document.getElementById(modalId).style.display = 'block';
                };

                const closeModal = (modalId) => {
                    document.getElementById(modalId).style.display = 'none';
                };

                // Fecha o modal ao clicar no botão de fechar
                document.querySelectorAll('.card-mytrade-close-modal').forEach(btn => {
                    btn.addEventListener('click', function () {
                        closeModal(this.closest('.card-mytrade-modal').id);
                    });
                });

                // Fecha o modal ao clicar no botão de cancelar
                document.querySelectorAll('.card-mytrade-btn-cancel').forEach(btn => {
                    btn.addEventListener('click', function () {
                        closeModal(this.closest('.card-mytrade-modal').id);
                    });
                });

                // Fecha o modal se o usuário clicar fora dele
                window.onclick = function (event) {
                    if (event.target.classList.contains('card-mytrade-modal')) {
                        closeModal(event.target.id);
                    }
                };
            </script>